name: "CI - Test Features"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-global:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Install latest devcontainer CLI"
        run: npm install -g @devcontainers/cli@0.83.3

      - name: "Testing global scenarios"
        run: devcontainer features test --global-scenarios-only .
