name: "CI - Test Features"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-global:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: "Install latest devcontainer CLI"
        run: npm install -g @devcontainers/cli@0.83.3

      - name: "Testing global scenarios"
        run: devcontainer features test --global-scenarios-only .
